.content {
    min-height: calc(100vh - 70px);
}

.footer{   
    position:absolute;
    padding: 1px; 
    left: 0;
    bottom: 0;
    width: 100%;  
    background-color: #222734;

}

.footer p {
    color: white;
    text-align: center;
    font-size: 12px;
}

